$pure-white: #ffffff;
$btn-main-normal: #ED374D;
$btn-main-hover: #f4475c;
$btn-main-shadow: rgba(237, 55, 77, 0.9);

$btn-disabled-normal: #d7dee0;
$btn-disabled-shadow: rgba(60, 85, 95, 0.14);

$txt-lvl1: #36454b;
$txt-lvl2: #36454b;
$txt-lvl3: #a8a8b3;
$txt-lvl4: #d7dee0;
