/* Base */
/*** --- RESET --- ***/
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

main, li {
  display: block; }

h1, h2, h3, h4, h5 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a, button {
  color: inherit;
  -webkit-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.btn {
  margin-top: 40px;
  padding: 18px 0;
  position: relative;
  display: block;
  width: 160px;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn-active {
  color: #ffffff;
  background-color: #ED374D;
  box-shadow: 0 5px 25px -7px rgba(237, 55, 77, 0.9); }
  .btn-active:hover {
    color: #fff;
    background-color: #f4475c;
    box-shadow: 0 8px 30px -7px rgba(237, 55, 77, 0.9); }

.btn-disabled {
  padding: 18px 0;
  width: 200px;
  color: #ffffff;
  background-color: #d7dee0;
  box-shadow: 0 7px 15px -7px rgba(60, 85, 95, 0.14);
  pointer-events: none; }

/* - Animations - */
.hide_me {
  opacity: 0; }

.fadeInUp {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.31, 0.4, 0.99);
          animation-timing-function: cubic-bezier(0.1, 0.31, 0.4, 0.99);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
            transform: translate3d(0, 40%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
            transform: translate3d(0, 40%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

/* topToBottom Animation for Rolling text */
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  28% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  32% {
    opacity: 0;
    -webkit-transform: translateY(11px);
            transform: translateY(11px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  28% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  32% {
    opacity: 0;
    -webkit-transform: translateY(11px);
            transform: translateY(11px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* Modules */
/* My Stuff */
html {
  height: 100%; }

body {
  height: 100%;
  padding-top: 70px;
  background-color: #F7F7F9; }

h1 {
  font-family: 'Playfair Display', serif;
  color: #36454b;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.2px;
  line-height: 1.1;
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

h2 {
  font-family: 'Montserrat', san-serif;
  font-size: 16px;
  color: #96A3B2;
  letter-spacing: 0.7px;
  font-weight: 300;
  text-transform: uppercase; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #A8A8B3;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

/*** --- GLOBAL CLASSES --- ***/
.section_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 720px; }

.first-fix {
  margin-top: -70px; }
  @media only screen and (max-width: 768px) {
    .first-fix {
      margin-top: -50px; } }

.section_container {
  position: relative;
  margin-left: 30px;
  margin-right: 30px; }
  @media only screen and (max-width: 420px) {
    .section_container {
      margin-left: 15px;
      margin-right: 15px; } }

.full-h {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh; }

.justify_left {
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.line_sm {
  width: 18px;
  height: 1px;
  background-color: #cdcddc;
  margin-left: 1px;
  margin-top: 7px; }

.line-medium {
  margin-top: 25px;
  width: 30px;
  border-bottom: 1px solid #36454b; }

.line-section {
  height: 16px;
  width: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.line-case {
  display: none;
  padding-top: 50px;
  height: 1px;
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .line-case {
      display: block; } }

.linked {
  position: relative;
  padding-right: 8px;
  color: #ED374D; }
  .linked:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 95%;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid white;
    -webkit-transform: scale(0.9, 1);
        -ms-transform: scale(0.9, 1);
            transform: scale(0.9, 1);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    opacity: 0; }
  .linked:hover:after {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
    border-bottom: 1px solid #ed374d;
    opacity: 1; }

.tip {
  position: absolute;
  height: 5px;
  top: 1px;
  right: 0; }
  @media only screen and (max-width: 350px) {
    .tip {
      display: none; } }

/*** --- NAVBAR --- ***/
.nav {
  background: rgba(247, 247, 249, 0.9);
  height: 70px;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  width: 100%;
  z-index: 200; }

.nav-up {
  top: -70px; }

.nav_desktop .logo img {
  float: left;
  height: 14px;
  padding: 28px 0;
  margin-left: 5%; }

.nav_desktop ul {
  display: block;
  float: right;
  margin-right: 5%; }
  .nav_desktop ul li {
    position: relative;
    display: inline-block;
    padding: 27px 20px 26px; }
    .nav_desktop ul li a {
      padding: 5px 0; }

.nav_desktop .menu_item {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #36454b;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  text-decoration: none; }
  .nav_desktop .menu_item:hover {
    color: #f03a4c; }
  .nav_desktop .menu_item:before {
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    height: 1px;
    bottom: 1px;
    background-color: #f03a4c;
    opacity: 0;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .nav_desktop .menu_item:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }

/* - Active state - */
.menu_active {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #36454b;
  text-decoration: none;
  pointer-events: none; }

.bullet {
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
  text-align: center; }

/*** --- NAV MOBILE / OVERLAY MENU --- ***/
.nav_mobile {
  position: relative; }
  .nav_mobile .logo_mobile img {
    float: left;
    height: 14px;
    padding: 18px 0 0;
    margin-left: 17px; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(315deg, rgba(229, 72, 53, 0.9) 0%, rgba(240, 58, 76, 0.9) 49%, rgba(202, 22, 93, 0.9) 100%);
  background: linear-gradient(135deg, rgba(229, 72, 53, 0.9) 0%, rgba(240, 58, 76, 0.9) 49%, rgba(202, 22, 93, 0.9) 100%);
  z-index: 300; }

.no_scroll {
  overflow: hidden; }

/* Nav media queries */
@media only screen and (min-width: 768px) {
  .nav_desktop {
    display: block; }
  .nav_mobile {
    display: none; } }

@media only screen and (max-width: 768px) {
  body {
    padding-top: 50px; }
  .nav_desktop {
    display: none; }
  .nav_mobile {
    display: block; }
  .nav {
    height: 50px; }
  .nav-up {
    top: -50px; } }

/*** --- HAMBURGER --- ***/
.hamburger {
  position: absolute;
  padding: 14px 0 0;
  right: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 400; }
  .hamburger .is-active {
    background-color: #fff; }

.hamburger-box {
  width: 34px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 26px;
  height: 3px;
  background-color: #36454b;
  border-radius: 1px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.is-active .hamburger-inner {
  background-color: #fff; }

.is-active .hamburger-inner::before {
  background-color: #fff; }

.is-active .hamburger-inner::after {
  background-color: #fff; }

.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -8px; }

.hamburger-inner::after {
  bottom: -8px; }

/* Hamburger squeeze transition */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  transition: top 0.1s 0.14s ease, opacity 0.1s ease; }

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*** --- OVERLAY MENU --- ***/
.overlay nav {
  text-align: right;
  position: relative;
  margin-right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  height: 100%;
  position: relative; }
  .overlay ul li {
    display: block;
    min-height: 40px;
    margin-bottom: 20px; }
    .overlay ul li a {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 40px;
      display: block;
      color: #fff;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .overlay ul li a:focus {
        color: #EFEFF0; }
      .overlay ul li a:hover {
        color: #EFEFF0; }
    .overlay ul li .line-menu {
      float: right;
      margin-top: 50px;
      width: 30px;
      border-bottom: 1px solid #fff; }
    .overlay ul li .menu-contact {
      float: left;
      float: right; }
      .overlay ul li .menu-contact a {
        margin-top: 15px;
        font-size: 16px; }

.ol_active {
  position: relative;
  opacity: 0.25; }
  .ol_active:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 53px;
    background-color: #fff;
    top: 21px;
    right: 27px;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg); }

.overlay-effect {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay-effect nav {
    -webkit-perspective: 1200px;
            perspective: 1200px; }
    .overlay-effect nav ul {
      opacity: 0;
      -webkit-transform: translateY(-50%) rotateX(30deg);
              transform: translateY(-50%) rotateX(30deg);
      -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out, -webkit-transform 0.5s ease-in-out; }

.overlay-effect.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .overlay-effect.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }

.overlay-effect.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-25deg);
          transform: translateY(25%) rotateX(-25deg); }

footer {
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -100;
  background: -webkit-linear-gradient(315deg, #e54835 0%, #f03a4c 49%, #ca165d 100%);
  background: linear-gradient(135deg, #e54835 0%, #f03a4c 49%, #ca165d 100%); }
  footer .footer-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center; }
    footer .footer-container .contact {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 25px; }
      footer .footer-container .contact h3 {
        font-family: 'Playfair Display', serif;
        margin-bottom: 20px;
        font-size: 55px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        letter-spacing: 1.47px; }
        @media only screen and (max-width: 568px) {
          footer .footer-container .contact h3 {
            margin-bottom: 30px;
            font-size: 42px;
            letter-spacing: 1.47px; } }
      footer .footer-container .contact .line-footer {
        margin-bottom: 55px;
        width: 30px;
        border-bottom: 2px solid #fff; }
      footer .footer-container .contact a {
        position: relative;
        margin-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1.2px; }
        footer .footer-container .contact a:after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -5px;
          border-bottom: 1px solid #fff;
          opacity: 0;
          -webkit-transform: translateY(-2px);
              -ms-transform: translateY(-2px);
                  transform: translateY(-2px);
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        footer .footer-container .contact a:hover:after {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1; }
        @media only screen and (max-width: 568px) {
          footer .footer-container .contact a {
            font-size: 16px; } }
  footer .end {
    background-color: rgba(255, 255, 255, 0.05);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%; }
    @media only screen and (max-width: 568px) {
      footer .end {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: center;
            align-content: center;
        background-color: rgba(255, 255, 255, 0); } }
    footer .end .social {
      padding: 15px 3%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 30px; }
      footer .end .social a {
        display: block;
        padding-left: 32px; }
      footer .end .social .twitter {
        width: 25px;
        height: auto;
        background-image: url("../img/social/twitter.png");
        background-size: 25px auto;
        background-position: center;
        background-repeat: no-repeat; }
      footer .end .social .linkedin {
        width: 23px;
        height: auto;
        background-image: url("../img/social/linkedin.png");
        background-size: 23px auto;
        background-position: center;
        background-repeat: no-repeat; }
      footer .end .social .vimeo {
        width: 21px;
        height: auto;
        background-image: url("../img/social/vimeo.png");
        background-size: 21px auto;
        background-position: center;
        background-repeat: no-repeat; }
      footer .end .social .behance {
        width: 26px;
        height: auto;
        background-image: url("../img/social/behance.png");
        background-size: 26px auto;
        background-position: center;
        background-repeat: no-repeat; }
    footer .end p {
      font-family: 'Montserrat', sans-serif;
      padding-left: 3%;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.75); }
      @media only screen and (max-width: 568px) {
        footer .end p {
          padding: 5px 0 25px; } }

/* Pages */
main {
  margin-bottom: 100vh;
  /* Rolling text vertical Sliding */
  /* Type fix */ }
  main .main {
    width: 100%;
    background-color: #f7f7f9;
    box-shadow: 0 15px 100px 0 #cb3139; }
  main .home_header {
    max-width: 620px; }
    @media screen and (min-width: 568px) and (max-width: 768px) {
      main .home_header {
        max-width: 520px; } }
    @media screen and (min-width: 420px) and (max-width: 568px) {
      main .home_header {
        max-width: 375px; } }
    @media screen and (max-width: 420px) {
      main .home_header {
        max-width: 320px; } }
  main .rolling_text {
    font-family: 'Playfair Display', serif;
    color: #36454b;
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1.2px;
    line-height: 1.1;
    padding-bottom: 69px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }
    @media screen and (min-width: 420px) and (max-width: 568px) {
      main .rolling_text {
        max-width: 320px; } }
    main .rolling_text span {
      font-weight: 700; }
  main .slidingVertical {
    display: inline;
    position: relative;
    letter-spacing: 1.2px; }
    @media screen and (max-width: 420px) {
      main .slidingVertical {
        overflow-x: hidden; } }
    main .slidingVertical span {
      -webkit-animation: topToBottom 8s ease infinite 0s;
              animation: topToBottom 8s ease infinite 0s;
      font-weight: 700;
      opacity: 0;
      overflow: visible;
      position: absolute; }
  main .slidingVertical span:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  main .slidingVertical span:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s; }
  main .slidingVertical span:nth-child(4) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s; }
  @media screen and (min-width: 420px) and (max-width: 568px) {
    main .kerning-0 {
      letter-spacing: 0; } }

.btn-scroll {
  position: absolute;
  width: 50px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto; }
  .btn-scroll .bouncy-arrow {
    -webkit-animation: bounce 4s infinite;
            animation: bounce 4s infinite; }

@-webkit-keyframes bounce {
  0%,
  100%,
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); } }

@keyframes bounce {
  0%,
  100%,
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); } }

.flex-fix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.home_h2 h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #36454b;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
  margin: 0 auto 16px; }

.home_h2 .line-medium {
  margin: 0 auto; }

.home_p_container {
  position: relative; }
  .home_p_container .home_p {
    font-family: 'Raleway', sans-serif;
    max-width: 550px;
    color: #36454b;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 28px;
    margin-top: 40px; }
    @media screen and (min-width: 320px) and (max-width: 520px) {
      .home_p_container .home_p {
        text-align: left;
        letter-spacing: 0.2px; } }
  .home_p_container .read_more {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .home_p_container .read_more a {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      color: #ED374D;
      font-weight: 400;
      text-align: left;
      letter-spacing: 0.7px; }
    .home_p_container .read_more img {
      height: 10px;
      padding-top: 1px;
      padding-left: 10px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .home_p_container .read_more:hover img {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px); }

/*** --- CASE STUDIES --- ***/
.cases_wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 30vh;
  padding-top: 20vh; }
  @media screen and (min-height: 768px) and (min-width: 768px) {
    .cases_wrapper {
      position: relative;
      top: -40px; } }

/* - CASE LEFT - */
.case_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  overflow-x: hidden; }
  @media screen and (max-width: 568px) {
    .case_left {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.case_left_image {
  background-image: url("../img/nc_home_desk.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 505px;
  width: 53%;
  height: 505px;
  padding-left: 50px;
  margin-left: -50px; }
  @media screen and (min-width: 568px) and (max-width: 768px) {
    .case_left_image {
      background-image: url("../img/nc_mobile.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: auto 427px;
      width: 40%;
      height: 427px; } }
  @media screen and (max-width: 568px) {
    .case_left_image {
      display: none; } }

.case_left img {
  display: none; }
  @media screen and (max-width: 568px) {
    .case_left img {
      display: block;
      width: 100%; } }

.case_description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 4%; }
  @media screen and (min-width: 568px) and (max-width: 768px) {
    .case_description {
      padding-left: 5%; } }
  @media screen and (max-width: 568px) {
    .case_description {
      padding: 0;
      text-align: center;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .case_description h3 {
    padding-top: 25px;
    margin-left: -1px;
    max-width: 310px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #36454b;
    letter-spacing: 0.012em; }
    @media screen and (max-width: 568px) {
      .case_description h3 {
        font-size: 30px; } }
  .case_description p {
    padding-top: 22px;
    max-width: 340px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #36454b;
    letter-spacing: 0.073em;
    line-height: 24px; }
    @media screen and (max-width: 568px) {
      .case_description p {
        padding: 20px 17px 0;
        width: 95%;
        max-width: 320px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        letter-spacing: 0.073em;
        line-height: 27px; } }
  .case_description ul {
    padding: 25px 0 0; }
    @media screen and (max-width: 568px) {
      .case_description ul {
        padding: 40px 0 20px 20px; } }
    .case_description ul li {
      padding: 7px 9px;
      border: 1px solid;
      border-radius: 5px;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-family: 'raleway', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #36454b;
      letter-spacing: 0.08em; }

/* - CASE RIGHT - */
.case_right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  overflow-x: hidden;
  text-align: right; }
  @media screen and (max-width: 568px) {
    .case_right {
      padding-top: 25px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .case_right img {
    display: none; }
  .case_right .case_description {
    width: 44%;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0; }
    @media screen and (min-width: 568px) and (max-width: 768px) {
      .case_right .case_description {
        width: 55%;
        padding-right: 5%; } }
    @media screen and (max-width: 568px) {
      .case_right .case_description {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        -webkit-box-align: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .case_right .case_description ul li {
      padding-right: 0;
      padding-left: 20px; }

.case_right_image {
  background-image: url("../img/bg_test.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 505px;
  width: 56%;
  height: 505px;
  padding-right: 50px;
  margin-right: -50px; }
  @media screen and (min-width: 568px) and (max-width: 768px) {
    .case_right_image {
      background-image: url("../img/nc_mobile.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: auto 427px;
      width: 45%;
      height: 427px; } }
  @media screen and (max-width: 568px) {
    .case_right_image {
      display: none; } }

.about_h2 {
  font-size: 16px;
  margin-bottom: 30px; }

.about_p_container {
  margin-bottom: 115px; }

.about_p {
  max-width: 700px;
  font-family: 'Lora', sans-serif;
  color: #36454b;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.9px;
  line-height: 31px; }
  .about_p a {
    position: relative;
    color: #ED374D; }
  .about_p:after {
    content: '';
    display: inline-block;
    width: 96%;
    position: absolute;
    left: 2%;
    bottom: -2px;
    border-bottom: 1px solid white;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    opacity: 0; }
  .about_p:hover:after {
    width: 100%;
    left: 0%;
    border-bottom: 1px solid #ed374d;
    opacity: 1; }

.fix_p {
  max-width: 640px;
  letter-spacing: 1.4px; }

/* - QUOTE - */
.quote_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.quote {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 78px 0;
  margin-bottom: 28px;
  max-width: 345px; }

.quote_text {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  text-align: center;
  color: #ED374D;
  letter-spacing: 0;
  line-height: 43px;
  margin-bottom: 30px; }

.quote_source {
  /* source: */
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #ED374D;
  letter-spacing: 1.14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline; }

.about_social_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 520px;
  margin: 75px auto; }

.about_social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about_social img {
    width: 75px;
    padding-bottom: 23px; }
  .about_social span {
    position: relative;
    font-family: 'Montserrat', san-serif;
    font-size: 13px;
    color: #ED374D;
    letter-spacing: 1.14px;
    font-weight: 300;
    text-transform: uppercase; }
    .about_social span:before {
      content: "";
      position: absolute;
      width: 94%;
      height: 1px;
      bottom: -3px;
      left: 3%;
      background-color: #f03a4c; }

.work_wrapper {
  max-width: 1060px;
  margin: 0 auto; }

.work_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .work_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 30px 80px; } }

.work_description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0; }
  @media screen and (min-width: 320px) and (max-width: 1134px) {
    .work_description {
      width: auto; } }
  .work_description h2 {
    margin-left: -1px;
    max-width: 310px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #36454b;
    letter-spacing: 0.012em;
    text-transform: none; }
  .work_description p {
    padding-top: 21px;
    max-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #36454b;
    letter-spacing: 0.073em;
    line-height: 24px; }
    @media screen and (max-width: 768px) {
      .work_description p {
        max-width: 475px; } }
  .work_description ul {
    padding: 24px 0 0; }
    .work_description ul li {
      padding-right: 20px;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      display: -webkit-inline-flex;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #A8A8B3;
      letter-spacing: 0.08em; }

.work_scope_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0 0; }

.work_scope {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .work_scope h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A2A6AA;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 15px 0; }
  .work_scope ul li {
    padding: 0 0 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #171D24;
    letter-spacing: 1px;
    line-height: 22px; }

.intro_image {
  margin: 0 auto;
  background-image: url("../img/nchild/intro_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  max-width: 1400px;
  margin-bottom: 80px;
  border-radius: 5px;
  box-shadow: 0 20px 50px -20px #E5C4D1; }

.work_p_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 0 30px; }
  @media only screen and (max-width: 420px) {
    .work_p_container {
      padding: 0 15px; } }
  .work_p_container h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A2A6AA;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 15px 0 5px; }
  .work_p_container .work_p {
    font-family: 'Raleway', Georgia, "Times New Roman", Times, sans-serif;
    color: #36454b;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.9px;
    line-height: 31px;
    padding: 30px 0 0; }

.work_image_desktop {
  margin: 80px auto;
  width: 1000px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 20px 50px -20px #B6C1CE; }
  @media only screen and (max-width: 580px) {
    .work_image_desktop {
      display: none; } }

.work_image_mobile {
  display: none;
  margin: 80px auto;
  max-width: 420px;
  width: 100%;
  height: auto;
  border-radius: 5px; }
  @media only screen and (max-width: 580px) {
    .work_image_mobile {
      display: block; } }
