.btn {
    margin-top: 40px;
    padding: 18px 0;
    position: relative;
    display: block;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.btn-active {
    color: #ffffff;
    background-color: #ED374D;
    border-radius: 35px;
    box-shadow: 0 5px 25px -7px rgba(237, 55, 77, 0.9);

    &:hover {
        color: #fff;
        background-color: #f4475c;
        box-shadow: 0 8px 30px -7px rgba(237, 55, 77, 0.9);
    }
}

.btn-disabled {
    padding: 18px 0;
    width: 200px;
    color: #ffffff;
    background-color: #d7dee0;
    box-shadow: 0 7px 15px -7px rgba(60, 85, 95, 0.14);
    pointer-events: none;
}
