.about_h2 {
  font-size: 16px;
  margin-bottom: 30px;
}
.about_p_container {
  margin-bottom: 115px;
}
.about_p {
  max-width: 700px;
  font-family: 'Lora', sans-serif;
  color: #36454b;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.9px;
  line-height: 31px;
  a {
    position: relative;
    color: #ED374D;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 96%;
    position: absolute;
    left: 2%;
    bottom: -2px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    opacity: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0%;
    border-bottom: 1px solid rgba(237, 55, 77, 1);
    opacity: 1;
  }
}
.fix_p {
  max-width: 640px;
  letter-spacing: 1.4px;
}

/* - QUOTE - */

.quote_container {
  display: flex;
  justify-content: center;
}
.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 78px 0;
  margin-bottom: 28px;
  max-width: 345px;
}
.quote_text {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  text-align: center;
  color: #ED374D;
  letter-spacing: 0;
  line-height: 43px;
  margin-bottom: 30px;
}
.quote_source {
  /* source: */
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #ED374D;
  letter-spacing: 1.14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.about_social_container {
  display: flex;
  justify-content: space-around;
  max-width: 520px;
  margin: 75px auto;
}
.about_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 75px;
    padding-bottom: 23px;
  }
  span {
    position: relative;
    font-family: 'Montserrat', san-serif;
    font-size: 13px;
    color: #ED374D;
    letter-spacing: 1.14px;
    font-weight: 300;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      width: 94%;
      height: 1px;
      bottom: -3px;
      left: 3%;
      background-color: #f03a4c;
    }
  }
}
