    .home_header {
        max-width: 620px;
        @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
            max-width: 520px;
        }
        @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
            max-width: 375px;
        }
        @media screen and (max-width: $mobile-small) {
            max-width: 320px;
        }
    }
    /* Rolling text vertical Sliding */
    .rolling_text {
        font-family: 'Playfair Display', serif;
        color: $text-main;
        font-size: 60px;
        font-weight: 300;
        text-align: left;
        letter-spacing: 1.2px;
        line-height: 1.1;
        padding-bottom: 69px;
        transition: all 2s ease;
        @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
            max-width: 320px;
        }

        span {
            font-weight: 700;
        }
    }

    .slidingVertical {
        display: inline;
        position: relative;
        letter-spacing: 1.2px;
        @media screen and (max-width: $mobile-small) {
            overflow-x: hidden;
        }

        span {
            animation: topToBottom 8s ease infinite 0s;
            font-weight: 700;
            opacity: 0;
            overflow: visible;
            position: absolute;
        }
    }

    .slidingVertical span:nth-child(2) {
        animation-delay: 2s;
    }

    .slidingVertical span:nth-child(3) {
        animation-delay: 4s;
    }

    .slidingVertical span:nth-child(4) {
        animation-delay: 6s;
    }
    /* Type fix */
    .kerning-0 {
        @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
            letter-spacing: 0;
        }
    }



.flex-fix {
    flex-direction: column;
    justify-content: center;
}

.home_h2 {
    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: $text-main;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 4px;
        margin: 0 auto 16px;
    }

    .line-medium {
        margin: 0 auto;
    }
}

.home_p_container {
    position: relative;

    p {
        font-family: 'Raleway', sans-serif;
        color: $text-main;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        letter-spacing: 0.7px;
        line-height: 32px;
        margin-bottom: 28px;
        margin-top: 40px;
        @media screen and (max-width: 520px) {
            text-align: left;
            letter-spacing: 0.2px;
        }
    }

    .read_more {
        display: flex;

        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #ED374D;
            font-weight: 400;
            text-align: left;
            letter-spacing: 0.7px;
            @media screen and (max-width: 520px) {
                font-size: 16px;
            }
        }

        img {
            height: 10px;
            padding-top: 1px;
            padding-left: 10px;
            transition: all 0.4s ease;
        }

        &:hover {
            img {
                transform: translateX(10px);
            }
        }
    }
}
/*** --- CASE STUDIES --- ***/
.cases_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 30vh;
    padding-top: 20vh;
    @media screen and (min-height: $tablet) and (min-width: $tablet) {
        position: relative;
        top: -40px;
    }
}
/* - CASE LEFT - */
.case_left {
    display: flex;
    padding: 50px 0;
    overflow-x: hidden;
    @media screen and (max-width: $mobile-large) {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
}

.case_left_image {
    background-image: url("../img/nc_home_desk.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 505px;
    width: 53%;
    height: 505px;
    padding-left: 50px;
    margin-left: -50px;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        background-image: url("../img/nc_mobile.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 427px;
        width: 40%;
        height: 427px;
    }
    @media screen and (max-width: $mobile-large) {
        display: none;
    }
}

.case_left img {
    display: none;
    @media screen and (max-width: $mobile-large) {
        display: block;
        width: 100%;
    }
}

.case_description {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 4%;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        padding-left: 5%;
    }
    @media screen and (max-width: $mobile-large) {
        padding: 0;
        text-align: center;
        align-items: center;
    }
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #98a0a8;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    h3 {
        padding-top: 40px;
        margin-left: -1px;
        max-width: 310px;
        font-family: 'Montserrat', sans-serif;
        font-size: 34px;
        font-weight: 700;
        color: $text-main;
        letter-spacing: 0.012em;
        @media screen and (max-width: $mobile-large) {
          padding-top: 0px;
            font-size: 30px;
        }
    }

    p {
      padding-bottom: 48px;
        padding-top: 20px;
        max-width: 340px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: $text-main;
        letter-spacing: 0.073em;
        line-height: 24px;
        @media screen and (max-width: $mobile-large) {
            max-width: 320px;
            font-size: 18px;
            line-height: 27px;
        }
    }

    ul {
        padding: 12px 0 0;
        @media screen and (max-width: $mobile-large) {
            padding: 14px 0 42px;
        }

        li {
          padding: 8px 10px 7px;
          margin-right: 4px;
          border: 1px solid #cfd4db;
          border-radius: 5px;
          display: inline-flex;
          font-family: 'Raleway', sans-serif;
          font-size: 11px;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          color: #98a0a8;
            @media screen and (max-width: $mobile-large) {
                // padding: 0 20px 0 0;
            }
        }
    }
}
/* - CASE RIGHT - */
.case_right {
    display: flex;
    padding: 50px 0;
    overflow-x: hidden;
    text-align: right;
    @media screen and (max-width: $mobile-large) {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
    }

    img {
        display: none;
        @media screen and (max-width: $mobile-large) {
          display: block;
        }
    }

    .case_description {
        width: 44%;
        align-items: flex-end;
        padding-left: 0;
        @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
            width: 55%;
            padding-right: 5%;
        }
        @media screen and (max-width: $mobile-large) {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            align-items: center;
        }
        ul li {
              margin-left:4px;
              margin-right: 0px;
        }
    }
}

.case_right_image {
    background-image: url("../img/bg_test.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 505px;
    width: 56%;
    height: 505px;
    padding-right: 50px;
    margin-right: -50px;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        background-image: url("../img/nc_mobile.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 427px;
        width: 45%;
        height: 427px;
    }
    @media screen and (max-width: $mobile-large) {
        display: none;
    }
}
