main {
    margin-bottom: 100vh;

    .main {
        width: 100%;
        background-color: rgba(247, 247, 249, 1);
        box-shadow: 0 15px 100px 0 rgb(203, 49, 57);
    }

    .home_header {
        max-width: 620px;
        @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
            max-width: 520px;
        }
        @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
            max-width: 375px;
        }
        @media screen and (max-width: $mobile-small) {
            max-width: 320px;
        }
    }

    .home_p_container {
        position: relative;

        .line-medium {
            margin: 24px auto 70px;
        }
    }
}

.home_p {
    font-family: 'Montserrat', sans-serif;
    max-width: 550px;
    color: #36454b;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 28px;
    @media screen and (min-width: 320px) and (max-width: 520px) {
        text-align: left;
        letter-spacing: 0.2px;
    }
}

.read_more {
    display: flex;

    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: #ED374D;
        font-weight: 400;
        text-align: left;
        letter-spacing: 0.7px;
    }

    img {
        height: 10px;
        padding-top: 1px;
        padding-left: 10px;
        transition: all 0.4s ease;
    }

    &:hover {
        img {
            transform: translateX(10px);
        }
    }
}
/*** --- ROLLING TEXT --- ***/
.rolling_text {
    font-family: 'Playfair Display', serif;
    color: #36454b;
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1.2px;
    line-height: 1.1;
    padding-bottom: 69px;
    transition: all 2s ease;
    @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
        max-width: 320px;
    }

    span {
        font-weight: 700;
    }
}

.kerning-0 {
    @media screen and (min-width: $mobile-small) and (max-width: $mobile-large) {
        letter-spacing: 0;
    }
}
/* Rolling text vertical Sliding */
.slidingVertical {
    display: inline;
    position: relative;
    letter-spacing: 1.2px;
    @media screen and (max-width: $mobile-small) {
        overflow-x: hidden;
    }

    span {
        animation: topToBottom 8s ease infinite 0s;
        font-weight: 700;
        opacity: 0;
        overflow: visible;
        position: absolute;
    }
}

.slidingVertical span:nth-child(2) {
    animation-delay: 2s;
}

.slidingVertical span:nth-child(3) {
    animation-delay: 4s;
}

.slidingVertical span:nth-child(4) {
    animation-delay: 6s;
}
/*** --- CASE STUDIES --- ***/
.cases_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 30vh;
    @media screen and (min-height: $tablet) and (min-width: $tablet) {
        position: relative;
        top: -40px;
    }

    .line-medium {
        margin: 10px auto 0;
    }
}

.home_h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #36454b;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 4px;
    margin: 0 auto;
}
/* - CASE LEFT - */
.case_left {
    display: flex;
    padding: 50px 0;
    overflow-x: hidden;
    @media screen and (max-width: $mobile-large) {
        display: flex;
        flex-direction: column;
    }
}

.case_left_image {
    background-image: url("../img/nc_home_desk.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 505px;
    width: 53%;
    height: 505px;
    padding-left: 50px;
    margin-left: -50px;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        background-image: url("../img/nc_mobile.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 427px;
        width: 40%;
        height: 427px;
    }
    @media screen and (max-width: $mobile-large) {
        display: none;
    }
}

.case_left img {
    display: none;
    @media screen and (max-width: $mobile-large) {
        display: block;
        width: 100%;
    }
}

.case_description {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 4%;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        padding-left: 5%;
    }
    @media screen and (max-width: $mobile-large) {
        padding: 0;
        text-align: center;
        align-items: center;
    }

    h3 {
        padding-top: 25px;
        margin-left: -1px;
        max-width: 310px;
        font-family: 'Montserrat', sans-serif;
        font-size: 34px;
        font-weight: 700;
        color: #36454b;
        letter-spacing: 0.012em;
        @media screen and (max-width: $mobile-large) {
            font-size: 30px;
        }
    }

    p {
        padding-top: 22px;
        max-width: 340px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #36454b;
        letter-spacing: 0.073em;
        line-height: 24px;
        @media screen and (max-width: $mobile-large) {
            padding: 20px 17px 0;
            width: 95%;
            max-width: 320px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            letter-spacing: 0.073em;
            line-height: 27px;
        }
    }

    ul {
        padding: 25px 0 0;
        @media screen and (max-width: $mobile-large) {
            padding: 40px 0 20px 20px;
        }

        li {
            padding-right: 20px;
            display: inline-flex;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #A8A8B3;
            letter-spacing: 0.08em;
            @media screen and (max-width: $mobile-large) {
                padding: 0 20px 0 0;
            }
        }
    }
}
/* - CASE RIGHT - */
.case_right {
    display: flex;
    padding: 50px 0;
    overflow-x: hidden;
    text-align: right;
    @media screen and (max-width: $mobile-large) {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
    }

    img {
        display: none;
        @media screen and (max-width: $mobile-large) {}
    }

    .case_description {
        width: 44%;
        align-items: flex-end;
        padding-left: 0;
        @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
            width: 55%;
            padding-right: 5%;
        }
        @media screen and (max-width: $mobile-large) {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            align-items: center;
        }

        ul li {
            padding-right: 0;
            padding-left: 20px;
        }
    }
}

.case_right_image {
    background-image: url("../img/bg_test.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 505px;
    width: 56%;
    height: 505px;
    padding-right: 50px;
    margin-right: -50px;
    @media screen and (min-width: $mobile-large) and (max-width: $tablet) {
        background-image: url("../img/nc_mobile.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 427px;
        width: 45%;
        height: 427px;
    }
    @media screen and (max-width: $mobile-large) {
        display: none;
    }
}
