footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -100;
    background: linear-gradient(233deg, #1c71d5, #e54b45, #c12f75);
    background-size: 800% 800%;
    animation: backgroundthing 12s ease infinite;
    @keyframes backgroundthing {
      0% {
        background-position: 0% 87%
      }
      50% {
        background-position: 100% 14%
      }
      100% {
        background-position: 0% 87%
      }
    }

    .footer-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        .contact {
            display: flex;
            align-content: center;
            align-self: center;
            align-items: center;
            flex-direction: column;
            padding: 25px;

            h3 {
                font-family: 'Playfair Display', serif;
                margin-bottom: 20px;
                font-size: 55px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                letter-spacing: 1.47px;
                @media only screen and (max-width: $mobile-large) {
                    margin-bottom: 30px;
                    font-size: 42px;
                    letter-spacing: 1.47px;
                }
            }

            .line-footer {
                margin-bottom: 55px;
                width: 30px;
                border-bottom: 2px solid #fff;
            }

            a {
                position: relative;
                margin-bottom: 20px;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                letter-spacing: 1.2px;

                &:after {
                    content: '';
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    border-bottom: 1px solid #fff;
                    opacity: 0;
                    transform: translateY(-2px);
                    transition: all $speed-1 ease;
                }

                &:hover:after {
                    transform: translateY(0);
                    opacity: 1;
                }
                @media only screen and (max-width: $mobile-large) {
                    font-size: 16px;
                }
            }
        }
    }

    .end {
        box-shadow: 0 15px 100px 0 rgba(255,255,255,0.3);
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        @media only screen and (max-width: $mobile-large) {
            flex-direction: column;
            align-content: center;
            box-shadow: 0 15px 100px 0 rgba(255,255,255,0);
        }

        .social {
            padding: 15px 3%;
            display: flex;
            justify-content: center;
            height: 30px;

            a {
                display: block;
                padding-left: 32px;
            }

            .twitter {
                width: 25px;
                height: auto;
                background-image: url("../img/social/twitter.png");
                background-size: 25px auto;
                background-position: center;
                background-repeat: no-repeat;
            }

            .linkedin {
                width: 23px;
                height: auto;
                background-image: url("../img/social/linkedin.png");
                background-size: 23px auto;
                background-position: center;
                background-repeat: no-repeat;
            }

            .vimeo {
                width: 21px;
                height: auto;
                background-image: url("../img/social/vimeo.png");
                background-size: 21px auto;
                background-position: center;
                background-repeat: no-repeat;
            }

            .behance {
                width: 26px;
                height: auto;
                background-image: url("../img/social/behance.png");
                background-size: 26px auto;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        p {
            font-family: 'Montserrat', sans-serif;
            padding-left: 3%;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.75);
            @media only screen and (max-width: $mobile-large) {
                padding: 5px 0 25px;
            }
        }
    }
}
